@*
* This template takes a two arguments, a String containing a
* message to display and an AssetsFinder to locate static assets.
*@
@import java.util.concurrent.CompletableFuture
@import com.google.api.services.youtube.model.PlaylistItem

@(title:String,channelId :String,list:List[Videos])(implicit assetsFinder: AssetsFinder)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

<!DOCTYPE html>
<html lang="en">
    <p></p>
    <body>
        <h1 style="color: #001bcc; text-align: center">Channel Title: @title</h1>

        <p></p>
        <p></p>
        <p>
        @for(result <- list){

            <div style="text-align: center; font-size: 30px">
                <br>

    <p style="color: #8d6fe0">Date : @result.getStringDate</p>
        <p style="color: #7319ab">Title : @result.getVideoTitle</p>


        <br>

    </body>
}



