@*
* This template takes a two arguments, a String containing a
* message to display and an AssetsFinder to locate static assets.
*@
@import com.google.api.services.youtube.model.SearchResult
@import java.util.concurrent.CompletableFuture
@(keyword: String ,list : List[Videos])(implicit assetsFinder: AssetsFinder)


@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Search Result") {
    <br>
    <h2 style="color: #cc0000; text-align: center">Search Key -> @keyword</h2>

    <p>
    @for(result <- list){

        <div style="text-align: center">
            <br>
<p style="color: #cc0000">Title : @result.getVideoTitle</p>
    <p style="color: purple">Channel : <a href=@routes.HomeController.profile(result.getChannelID)>@result.getChannelTitle</a></p>
    <p style="color: #bf83b0"> Recent Videos Of  <a style="color: #cd32ca" href=@routes.HomeController.CVideos(result.getChannelID)>@result.getChannelTitle</a></p>
    <p style="color: #cc0000">ViewCounts : @result.getViewCount</p>
    <p style="color: #cc0000">Date : @result.getDateTime</p>
    <p>Sentiment : @result.getSentiment</p>
    <br>
    </div>

}

    </p>



}